<div style="padding-inline: 2%;margin-block-start: 2%;">
    <ng-container *ngIf="myBlogs?.length;else noBlogs">
        <div *ngFor="let blog of myBlogs">
            <div>
                <div>
                    <h6 style="color: grey;"> {{blog.creationTimeStamp |
                        dateFormat}}
                    </h6>
                    <h5><span style="color: blue;font-family:Arial, Helvetica, sans-serif;">{{blog.blogName}}</span>
                    </h5>
                    <p style="display: inline-block;">{{blog.article}}<span><button class="btn btn-text btn-sm"
                                style="color: blue;" (click)="deleteBlog(blog.blogName)">delete this
                                blog</button></span></p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noBlogs>
        <div>
            <p>No blogs available</p>
        </div>
    </ng-template>
</div>